.movies__page {
  padding-bottom: 30px;
  height: auto;
  background-color: #111;
}

.header {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  object-fit: cover;
}

.header .movies--fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.movie__poster {
  width: 180px;
  height: 260px;
  margin: 20px;
  border-radius: 10px;
  justify-self: center;
  box-shadow: rgba(254, 254, 254, 0.35) 0px 2px 10px;
  transition: all 250ms ease;
}

.movie__poster:hover {
  transform: scale(1.1);
  box-shadow: rgba(254, 254, 254, 0.35) 0px 5px 20px;
}

.movie__poster img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-wrapper {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-wrapper h3 {
  text-align: center;
}

.menu__icon2 {
  color: white;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px;
  opacity: 0;
}

@media (max-width: 919px) {
  .menu__icon2 {
    opacity: 1;
  }
}
