.banner {
  color: white;
  object-fit: contain;
  padding-top: 100px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.banner__contents {
  margin-left: 60px;
  padding-top: 100px;
  padding-left: 90px;
  height: 190px;
}

.banner__title {
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 0.3rem;
  max-width: 480px;
  overflow-wrap: normal;
  text-overflow: ellipsis;
}

.banner__description {
  /* width: 360px; */
  line-height: 1.3;
  letter-spacing: 1.1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
  max-width: 450px;
  height: 80px;
}

.banner__button--play,
.banner__button--list {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button--play {
  background-color: rgb(175, 40, 6);
}

.banner__button--list:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner__button--play:hover {
  color: rgb(175, 40, 6);
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner__poster {
  width: 250px;
  height: 380px;
  position: absolute;
  top: 100px;
  right: 350px;
  border-radius: 10px;
  box-shadow: rgba(254, 254, 254, 0.35) 0px 5px 15px;
  z-index: 10;
  object-fit: contain;
}

.banner__poster img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.nav__icon {
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px;
  opacity: 0;
  cursor: pointer;
}

.menu__icon {
  color: white;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px;
  opacity: 0;
}

@media (max-width: 1189px) {
  .banner__poster {
    display: none;
  }
}

@media (max-width: 919px) {
  .banner {
    padding-top: 0;
  }

  .menu__icon {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .banner__contents {
    margin-left: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 580px) {
  .banner__description {
    /* width: 360px; */
    line-height: 1.3;
    font-size: 15px;
    max-width: 350px;
    letter-spacing: 1.05px;
  }

  .banner__button--play,
  .banner__button--list {
    font-weight: 600;
    font-size: 13px;
    padding: 0.5rem 1.5rem;
  }
}
