.row {
  overflow-x: hidden;
  color: white;
  padding-bottom: 40px;
}

.row h2 {
  padding: 20px;
}

.row h2:hover {
  color: red;
}

.slick-slider {
  margin-top: 20px;
}

.slick-slider .slick-list {
  overflow: visible;
}

.slick-arrow {
  z-index: 1;
}

.slick-prev {
  margin-left: 35px;
}

.slick-next {
  margin-right: 35px;
}

.wrap {
  cursor: pointer;
  object-fit: contain;
}

.wrap img {
  border: 4px solid transparent;
  outline: none;
  width: 80%;
  height: 90%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
    rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  transition: all 500 ease;
}

.wrap img:hover {
  border: 4px solid rgba(240, 249, 249, 0.8);
}

.slide {
  transform: scale(0.7);
  transition: all 500ms;
  opacity: 0.9;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
  border: 4px solid white !important;
  transition: all 500ms;
}

@media (max-width: 500px) {
  .activeSlide {
    transform: scale(0.7);
    opacity: 1;
  }

  .slide {
    border: 4px solid white !important;
  }

  .wrap img {
    width: 100%;
    height: 100%;
  }
}
