@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

.body {
  font-family: "PT Sans", sans-serif;
}

.app {
  background-color: #111;
}

a {
  text-decoration: none;
  color: white;
}
